{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "no-nested-ternary": "off",
    "no-return-assign": [
      "off"
    ],
    "prettier/prettier": "error"
  }
}