node_modules
.idea
.DS_Store
.env
workbox-config.js
public/build
public/server-bundled.js
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
_elasticbeanstalk._travis.yml
