files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_install_yarn.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
      curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -;
      yum -y install yarn;
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_install_packages.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      yarn install --production=false;
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_set_tmp_permissions.sh":
       mode: "000755"
       owner: root
       group: root
       content: |
         #!/usr/bin/env bash
         chown -R nodejs:nodejs /tmp/.config
  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_build.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/usr/bin/env bash
        cd /var/app/current
        yarn build:production;